// Цвета
$color-black: #000000;
$color-black-hover: #333333;
$color-error: #ff0000;
$color-text: #333333;
$color-text-light: #777777;
$color-text-label: #000000;
$color-border: #dddddd;
$color-divider: #eeeeee;
$color-bg: #ffffff;

//цвета полоски input
$input-line-height: 1px;
$input-line-default: #dddddd;
$input-line-active: #000000;
$input-text-color: #333333;
$input-line-error: #ff0000;

//размеры шрифта
$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-base: 1rem;
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;
$font-size-xl: 2rem;
$font-size-x2: 2.3rem;

// Отступы
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 2rem;

// Кнопка
$register-button-bg: $color-black;
$register-button-color: white;
$register-button-hover: $color-black-hover;
$register-button-padding: $padding-medium;
$register-button-radius: 4px;

// Поля ввода
$input-border: 1px solid $color-border;
$input-radius: 4px;
$input-padding: 0.8rem;

// Миксины для легкого начертания Montserrat
@mixin montserrat-light {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@mixin montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
@mixin montserrat-bolder {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
